<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cupidshuffle">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.questionnaires.CreateProfileActivity"></activity>
        <activity android:name=".activities.questionnaires.OccupationActivity" />
        <activity android:name=".activities.questionnaires.AgeActivity" />
        <activity android:name=".activities.questionnaires.GenderActivity" />
        <activity android:name=".activities.PrivateProfileActivity" />
        <activity
            android:name=".activities.FragmentHolder"
            android:label="@string/title_activity_page_after_login"></activity>
        <activity android:name=".activities.ShuffleSelectedProfileActivity" />
        <activity android:name=".activities.ShuffleTheLoveBirdsActivity" />
        <activity android:name=".activities.ViewPrivateMessagesAndConnectionRequest" />
        <activity android:name=".surveys.SurveyActivities.EndSurveyActivity"></activity>
        <activity android:name=".activities.ViewAllRequestsActivity" />
        <activity android:name=".activities.SentMessageConfirmationActivity" />
        <activity android:name=".activities.RespondToDMActivity" />
        <activity android:name=".activities.ViewPrivateMessagesActivity" />
        <activity android:name=".activities.MainUserProfile" />
        <activity android:name=".activities.IndividualProfilePage" />
        <activity android:name=".activities.ViewUserProfilesActivity" />
        <activity android:name=".activities.UserRegistrationActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".surveys.SurveyActivities.generalInterestQuestions.GeneralInterestQuestion1" />
        <activity android:name=".surveys.SurveyActivities.generalInterestQuestions.GeneralInterestQuestion2" />
        <activity android:name=".surveys.SurveyActivities.generalInterestQuestions.GeneralInterestQuestion3" />
        <activity android:name=".surveys.SurveyActivities.generalInterestQuestions.GeneralInterestQuestion5" />
        <activity android:name=".surveys.SurveyActivities.hobbiesQuestions.HobbiesQuestion1" />
        <activity android:name=".surveys.SurveyActivities.hobbiesQuestions.HobbiesQuestion2" />
        <activity android:name=".surveys.SurveyActivities.hobbiesQuestions.HobbiesQuestion3" />
        <activity android:name=".surveys.SurveyActivities.hobbiesQuestions.HobbiesQuestion4" />
        <activity android:name=".surveys.SurveyActivities.hobbiesQuestions.HobbiesQuestion5" />
        <activity android:name=".surveys.SurveyActivities.cultureQuestions.CultureQuestion1" />
        <activity android:name=".surveys.SurveyActivities.cultureQuestions.CultureQuestion2" />
        <activity android:name=".surveys.SurveyActivities.cultureQuestions.CultureQuestion3" />
        <activity android:name=".surveys.SurveyActivities.cultureQuestions.CultureQuestion4" />
        <activity android:name=".surveys.SurveyActivities.cultureQuestions.CultureQuestion5" />
        <activity android:name=".surveys.SurveyActivities.financeQuestions.FinanceQuestion1" />
        <activity android:name=".surveys.SurveyActivities.financeQuestions.FinanceQuestion2" />
        <activity android:name=".surveys.SurveyActivities.financeQuestions.FinanceQuestion3" />
        <activity android:name=".surveys.SurveyActivities.financeQuestions.FinanceQuestion4" />
        <activity android:name=".surveys.SurveyActivities.financeQuestions.FinanceQuestion5" />
        <activity android:name=".surveys.SurveyActivities.sexQuestions.SexQuestion1" />
        <activity android:name=".surveys.SurveyActivities.sexQuestions.SexQuestion2" />
        <activity android:name=".surveys.SurveyActivities.sexQuestions.SexQuestion3" />
    </application>

</manifest>