<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cupidshuffle">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.ShowReservationActivity"></activity>
        <activity android:name=".activities.MakeReservationActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAYv5iCG-i-eansbiHaudeFQfaECLlsnjc" />

        <activity android:name=".activities.questionnaires.CreateProfileActivity" />
        <activity android:name=".activities.questionnaires.OccupationActivity" />
        <activity android:name=".activities.questionnaires.AgeActivity" />
        <activity android:name=".activities.questionnaires.GenderActivity" />
        <activity android:name=".activities.PrivateProfileActivity" />
        <activity
            android:name=".activities.FragmentHolderActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_page_after_login" />
        <activity android:name=".activities.ShuffleTheLoveBirdsActivity" />
        <activity android:name=".activities.ViewPrivateMessagesAndConnectionRequest" />
        <activity android:name=".SurveyActivities.EndSurveyActivity"></activity>
        <activity android:name=".activities.ViewAllRequestsActivity" />
        <activity android:name=".activities.ViewPrivateMessagesActivity" />
        <activity android:name=".activities.MainUserProfile" />
        <activity android:name=".activities.IndividualProfilePage" />
        <activity android:name=".activities.UserRegistrationActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SurveyActivities.generalInterestQuestions.GeneralInterestQuestion1" />
        <activity android:name=".SurveyActivities.generalInterestQuestions.GeneralInterestQuestion2" />
        <activity android:name=".SurveyActivities.generalInterestQuestions.GeneralInterestQuestion3" />
        <activity android:name=".SurveyActivities.generalInterestQuestions.GeneralInterestQuestion5" />
        <activity android:name=".SurveyActivities.hobbiesQuestions.HobbiesQuestion1" />
        <activity android:name=".SurveyActivities.hobbiesQuestions.HobbiesQuestion2" />
        <activity android:name=".SurveyActivities.hobbiesQuestions.HobbiesQuestion3" />
        <activity android:name=".SurveyActivities.hobbiesQuestions.HobbiesQuestion4" />
        <activity android:name=".SurveyActivities.hobbiesQuestions.HobbiesQuestion5" />
        <activity android:name=".SurveyActivities.cultureQuestions.CultureQuestion1" />
        <activity android:name=".SurveyActivities.cultureQuestions.CultureQuestion2" />
        <activity android:name=".SurveyActivities.cultureQuestions.CultureQuestion3" />
        <activity android:name=".SurveyActivities.cultureQuestions.CultureQuestion4" />
        <activity android:name=".SurveyActivities.cultureQuestions.CultureQuestion5" />
        <activity android:name=".SurveyActivities.financeQuestions.FinanceQuestion1" />
        <activity android:name=".SurveyActivities.financeQuestions.FinanceQuestion2" />
        <activity android:name=".SurveyActivities.financeQuestions.FinanceQuestion3" />
        <activity android:name=".SurveyActivities.financeQuestions.FinanceQuestion4" />
        <activity android:name=".SurveyActivities.financeQuestions.FinanceQuestion5" />
        <activity android:name=".SurveyActivities.sexQuestions.SexQuestion1" />
        <activity android:name=".SurveyActivities.sexQuestions.SexQuestion2" />
        <activity android:name=".SurveyActivities.sexQuestions.SexQuestion3" />
        <activity android:name=".SurveyActivities.sexQuestions.SexQuestion4" />
        <activity android:name=".SurveyActivities.sexQuestions.SexQuestion5" />
        <activity android:name=".SurveyActivities.StartSurveyActivity" />
        <activity android:name=".SurveyActivities.generalInterestQuestions.GeneralInterestQuestion4" />
    </application>

</manifest>